/* Fall backs */
:root {
    --fallback-font: 'Arial', sans-serif;
}

* {
    font-family: var(--fallback-font);
}

/* Something that people should not see */
.they-dont-know{
    display: none;
}

/* Styling the header */
header {
    background-color: #a9d697; 
    text-align: center;
    border-radius: 10px;
    border-style: outset;
    border-color: black;
    border-width: 10px;
    margin: 1vh;
    padding: 0.2cm 0.5cm 1cm 0.5cm;
    margin-top: 50px;
}

h1[class~="bebas-neue-regular"]{
    font-size: 100px;
}

nav{
    text-decoration: none;
    margin: auto;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: inherit;
    height: 5vh;
    width: inherit;
    max-width: 200px;
    max-height: 50px;
    &:hover {
        background-color: aquamarine;
    }
}



a:active {
    background-color: aqua;
}

h1:has(+ h3){
    margin-bottom: 0;
}
/* Header style end */

.fixed-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff3cd;
    padding: 0.5rem;
    text-align: center;
    border-bottom: 2px solid orange;
}
/* Agenda and check in style*/
.agenda-checkin{
    align-items: center;
}

.agenda-checkin section {
    background-color: color(display-p3 2 0.5 0 / .5);
    border: 1px solid color-mix(in srgb, plum, #f00);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    display: inline-block;
    position: relative;
}
a.link{
    font-size: 20px;
}

/* Misc Style */
video, img{
    max-width: 100%;
    height: auto;
    border: 3px solid teal;
    border-radius: 1rem;
    margin: 1rem 0;
}

summary + p{
    font-family: 'Courier New', Courier, monospace;
}

h2 ~ p{
    font-size: 20px;
}

section > details {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px dashed darkgray;
    border-radius: 0.75rem;
}

details summary:hover {
    cursor: pointer;
}

form{
    display: grid;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

footer{
    display: grid;
    align-items: center;
    justify-content: center;
}

button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400in;
    font-style: normal;
    color: hsl(231, 91%, 66%);
}

/* When the screen is small */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    form {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    nav a {
        display: block;
        margin: 0.5rem 0;
    }
}